.CardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align items to the start */
    margin: 40px auto;
    max-width: 1200px; /* Set a max-width for better control */
    padding: 0 20px; /* Add padding to the sides */
  }
  
  .Card {
    display: flex;
    flex-direction: column; /* Ensures the card content stacks vertically */
    margin: 20px;
    flex-basis: calc(33.33% - 40px);
    max-width: calc(33.33% - 40px);
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .Card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Target the last card in a row if it's alone */
  .CardContainer:after {
    content: "";
    flex: auto;
  }
  
  @media (max-width: 768px) {
    .Card {
      flex-basis: calc(50% - 40px);
      max-width: calc(50% - 40px);
    }
  }
  
  @media (max-width: 480px) {
    .Card {
      flex-basis: calc(100% - 40px);
      max-width: calc(100% - 40px);
    }
  }
  
  .CardHeader {
    background-color: #f0f0f0;
    padding: 16px 24px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
  }
  
  .CardHeader .MuiAvatar-root {
    margin-right: 16px;
  }
  
  .CardMedia {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .CardContent {
    flex-grow: 1; /* Allows CardContent to take up available space */
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  
  .CardActions {
    margin-top: auto; /* Pushes CardActions to the bottom */
    padding: 16px 24px;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    background-color: #f7f7f7;
  }
  
  .CardActions .MuiTypography-root {
    font-size: 14px;
    color: #666;
  }
  
  .ExpandMore {
    margin-left: auto;
    transition: transform 0.3s;
  }
  
  .ExpandMore:hover {
    transform: rotate(180deg);
  }
  
  .Collapse {
    padding: 24px;
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
  }
  
  .Collapse .MuiTypography-root {
    font-size: 14px;
    color: #666;
  }
  